In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('../data/machine_learning.csv', index_col=0)
df.head()
# df=df.applymap(lambda x: x.strip())

,Plant Name,Season,Plant Type,State,Picture Link,Blooms,Zones,Sun Needs,Soil Needs,Tolerates heat,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
92,Lemon Balm,Summer,Flower,NaN,https://www.proflowers.com/blog/wp-content/plu...,Early Summer,3 --7,Full Sun / Partial Shade,Well-drained,NaN,...,0,1,1,1,1,1,1,1.0,1,1
15,Bee Balm,Summer,Flower,NaN,https://www.proflowers.com/blog/wp-content/plu...,Mid Summer,4 --9,Full Sun / Partial Shade,Damp,NaN,...,0,1,1,1,1,1,1,1.0,1,1
22,Boneset,Summer,Flower,NaN,https://www.proflowers.com/blog/wp-content/plu...,Late Summer,4 --9,Full Sun / Partial Shade,Well-drained,NaN,...,0,1,1,1,1,1,1,1.0,1,1
35,Catmint,Summer,Flower,NaN,https://www.proflowers.com/blog/wp-content/plu...,Early Summer,3 --8,Full Sun / Partial Shade,Dry,NaN,...,0,1,1,1,1,1,1,1.0,1,1
63,Fennel,Summer,Flower,NaN,https://www.proflowers.com/blog/wp-content/plu...,Mid Summer,4 --9,Full Sun,Well-drained,NaN,...,0,1,1,1,1,1,1,1.0,1,1

In [19]:
text_data=df.select_dtypes(object).columns
# df.select_dtypes(object).applymap(lambda x: x.strip() if type(x)==str else x)
df[text_data]=df[text_data].applymap(lambda x: x.strip() if type(x)==str else x)
df[text_data]=df[text_data].applymap(lambda x: x.replace('\u2009', ' ') if type(x)==str else x)
df[text_data]=df[text_data].applymap(lambda x: x.replace('\xa0', ' ') if type(x)==str else x)

In [20]:
df.columns

Index(['Plant Name', 'Season', 'Plant Type', 'State', 'Picture Link', 'Blooms',
       'Zones', 'Sun Needs', 'Soil Needs', 'Tolerates heat', 'Tolerates frost',
       'Non-invasive', 'Good for pressed flowers', 'Good for cut flowers',
       'Deer resistant', 'Attracts bees', 'Attracts butterflies',
       'Attracts beneficial insects', 'Attracts hummingbirds', 'Alabama',
       'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New york',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object')

In [25]:
from sklearn.preprocessing import OneHotEncoder
oh=OneHotEncoder()
# oh.fit(df['Plant Type'].values)
encoded=oh.fit_transform(df['Plant Type'].values.reshape(-1, 1))
plant_type_df=pd.DataFrame(encoded.toarray(), columns=oh.get_feature_names(['Plant Type']))
plant_type_df

,Plant Type_Animal Feed,Plant Type_Flower,Plant Type_Fruit,Plant Type_Grain/Nut,Plant Type_Other,Plant Type_Vegetable
0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
246,0.0,0.0,1.0,0.0,0.0,0.0
247,0.0,0.0,1.0,0.0,0.0,0.0
248,0.0,0.0,1.0,0.0,0.0,0.0
249,0.0,0.0,0.0,0.0,0.0,1.0
250,0.0,0.0,0.0,0.0,0.0,1.0

In [29]:
oh=OneHotEncoder()
encoded=oh.fit_transform(df['Season'].fillna('All').values.reshape(-1, 1))
season_df=pd.DataFrame(encoded.toarray(), columns=oh.get_feature_names(['Sesson']))
season_df

,Sesson_All,Sesson_Fall,Sesson_Fall and Winter,Sesson_Spring,Sesson_Spring and Summer,Sesson_Summer,Sesson_Winter
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...
246,0.0,0.0,0.0,1.0,0.0,0.0,0.0
247,0.0,0.0,0.0,1.0,0.0,0.0,0.0
248,0.0,0.0,0.0,1.0,0.0,0.0,0.0
249,0.0,0.0,0.0,1.0,0.0,0.0,0.0
250,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [6]:
states_df=df[['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', \
              'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', \
              'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', \
              'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', \
              'New Jersey', 'New Mexico', 'New york', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', \
              'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', \
              'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']].fillna(0)
states_df

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,Georgia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,1,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1.0,1,1
1,1,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1.0,1,1
2,1,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1.0,1,1
3,1,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1.0,1,1
4,1,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,0
247,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,0
248,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,0
249,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0.0,0,0
250,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,1

In [21]:
df['Sun Needs'].unique()

array(['Full Sun / Partial Shade', 'Full Sun', 'Partial Shade',
       'All Sun Types', 'Partial Shade / Full Shade',
       'Full Sun / Partial Shade/Full Shade', nan], dtype=object)

In [24]:
oh=OneHotEncoder()
encoded=oh.fit_transform(df[['Sun Needs', 'Soil Needs']].fillna('Flexible').values.reshape(-1, 2))
needs_df=pd.DataFrame(encoded.toarray(), columns=oh.get_feature_names(['Sun Needs', 'Soil Needs']))
needs_df

,Sun Needs_All Sun Types,Sun Needs_Flexible,Sun Needs_Full Sun,Sun Needs_Full Sun / Partial Shade,Sun Needs_Full Sun / Partial Shade/Full Shade,Sun Needs_Partial Shade,Sun Needs_Partial Shade / Full Shade,Soil Needs_Damp,Soil Needs_Droughty,Soil Needs_Dry,Soil Needs_Flexible,Soil Needs_Well-drained,"Soil Needs_Well-drained, Damp","Soil Needs_Well-drained, High fertility"
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
247,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
248,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
249,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
250,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [23]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
lb.fit(df['Plant Type'])
plant_type_df=pd.DataFrame(lb.transform(df['Plant Type']), columns=['Plant Type'])
plant_type_df

     Plant Type
0             1
1             1
2             1
3             1
4             1
..          ...
246           2
247           2
248           2
249           5
250           5

[251 rows x 1 columns]

In [27]:
features_df=df[['Tolerates heat', 'Tolerates frost',
       'Non-invasive', 'Good for pressed flowers', 'Good for cut flowers',
       'Deer resistant', 'Attracts bees', 'Attracts butterflies',
       'Attracts beneficial insects', 'Attracts hummingbirds']].fillna(0)
features_df

,Tolerates heat,Tolerates frost,Non-invasive,Good for pressed flowers,Good for cut flowers,Deer resistant,Attracts bees,Attracts butterflies,Attracts beneficial insects,Attracts hummingbirds
92,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
63,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
246,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
247,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
250,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
# input_df=pd.concat([states_df, plant_type_df], axis=1)
# input_df=pd.concat([states_df], axis=1)
# input_df=pd.concat([states_df, df['Plant Type']], axis=1)
input_df=pd.concat([states_df, plant_type_df, season_df, needs_df, features_df], axis=1)
input_df

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,Georgia,...,Tolerates heat,Tolerates frost,Non-invasive,Good for pressed flowers,Good for cut flowers,Deer resistant,Attracts bees,Attracts butterflies,Attracts beneficial insects,Attracts hummingbirds
0,1,1,1,1,1,1,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1,1,1,1,1,1,1,1,1,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1,1,1,1,1,1,1,1,1,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,1,1,1,1,1,1,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,1,1,1,1,1,1,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,0,0,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
247,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
250,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
input_df.columns

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New york',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Plant Type_Animal Feed',
       'Plant Type_Flower', 'Plant Type_Fruit', 'Plant Type_Grain/Nut',
       'Plant Type_Other', 'Plant Type_Vegetable', 'Sesson_All', 'Sesson_Fall',
       'Sesson_Fall and Winter', 'Sesson_Spring', 'Sesson_Spring and Summer',
       'Sesson_Summer', 'Sesson_Winter', 'Sun Needs_All Sun Types',
       'Sun Needs_Flexible', 'Sun Needs_Full Sun',
       'Sun Needs_Full Sun / Partial Shade',
       'Sun Needs_Full Sun / Partial Shade/Full Shade',
       'Sun Needs_Partial Shade', 'Sun Needs_Partial Shade / Full Shade',
       'Soil Needs_Damp', 'Soil Needs_Droughty', 'Soil Needs_Dry',
       'Soil Needs_Flexible', 'Soil Needs_Well-drained',
       'Soil Needs_Well-drained, Damp',
       'Soil Needs_Well-drained, High fertility', 'Tolerates heat',
       'Tolerates frost', 'Non-invasive', 'Good for pressed flowers',
       'Good for cut flowers', 'Deer resistant', 'Attracts bees',
       'Attracts butterflies', 'Attracts beneficial insects',
       'Attracts hummingbirds'],
      dtype='object')

In [31]:
from sklearn.preprocessing import LabelEncoder
output_df=df['Plant Name']

In [32]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()
clf.fit(input_df, output_df)
clf.score(input_df, output_df)

0.7928286852589641

In [167]:
clf.classes_

array(['Aconite', 'Ageratum', 'Alfalfa Seed', 'Allium', 'Anemone',
       'Angelica', 'Angelonia', 'Apples', 'Artemisia', 'Asian Pears',
       'Aster', 'Astilbe', 'Aubrieta', 'Avocados', 'Azalea',
       'Balloon Flower', 'Balsam', 'Baneberry', 'Barley',
       'Basket of Gold', 'Beans', 'Bee Balm', 'Begonia', 'Bellflower',
       'Bergenia', 'Blackberries', 'Blackeyed Susan', 'Bleeding Heart',
       'Bloodroot', 'Blueberries', 'Boneset', 'Bourbon', 'Browallia',
       'Bugleweed', 'Bugloss', 'Buttercup', 'Butterfly Weed', 'Cabbage',
       'Caladium', 'Calendula', 'California Poppy', 'Canterbury Bells',
       'Cardinal Flower', 'Carnation', 'Castor Bean', 'Catmint',
       'Celosia', 'Cherries', 'Chile peppers', 'Chives', 'Chrysanthemum',
       'Clary Sage', 'Cleome', 'Coleus', 'Collard Greens', 'Columbine',
       'Comfrey', 'Coneflower', 'Coreopsis', 'Corn', 'Cortland Apples',
       'Corydalis', 'Cosmos', 'Crabs', 'Cranberries', 'Crocus',
       'Crown Imperial', 'Cushion Spurge', 'Cyclamen', 'Daffodil',
       'Dahlia', 'Daisy', 'Dame’s Rocket', 'Delphinium', 'Diascia',
       'Dry beans', 'Dusty Miller', "Dutchman's Breeches",
       'Entire Spring Snowflake', 'Epimedium', 'Evergreen Candytuft',
       'Fennel', 'Flaxseed', 'Fountain Grass', 'Foxglove', 'Gaillardia',
       'Gas Plant', 'Gaura', 'Gazania', 'Geranium', 'Geum',
       'Globe Thistle', 'Glory of the Snow', 'Goatsbeard',
       'Golden Delicious Apples', 'Golden Marguerite', 'Gomphrena',
       'Grapes', 'Green Chile Peppers', 'Hay', 'Hazelnuts', 'Heliotrope',
       'Hepatica', 'Hollyhock', 'Honeybell Oranges', 'Honeycrisp Apples',
       'Hops', 'Hosta', 'Hyacinth', 'Hyssop', 'Impatiens', 'Iris',
       "Jack Daniel's Whiskey", 'Jack-in-the-Pulpit', 'Jacob’s Ladder',
       "Lady's Mantle", 'Lantana', 'Lavender', 'Lavender Cotton',
       'Leadwort', 'Lemon Balm', 'Lentils', 'Lettuce', 'Lily',
       'Livestock', 'Lobelia', 'Lupine', 'Macadamia nuts', 'Maiden Pink',
       'Maize', 'Malva', 'Maple Syrup', 'Maple syrup', 'Marigold',
       'Marijuana', 'Mazus', 'Melons', 'Mirabilis', 'Moonflower',
       'Morning Glory', 'Mushrooms', 'Nasturtium', 'Nierembergia',
       'Oranges', 'Orchid', 'Osteospermum', 'Pansy', 'Pawpaw', 'Peaches',
       'Peanuts', 'Pearly Everlasting', 'Peas', 'Pecans',
       'Perennial Flax', 'Periwinkle', 'Petunia', 'Pincushion Flower',
       'Pineapple', 'Polka Dot Plant', 'Potatoes', 'Primrose', 'Pumpkins',
       'RI Greening Apples', 'Ranunculus', 'Red Valerian', 'Rice',
       'Rock Soapwort', 'Rose', 'Rue', 'Russet Potatoes', 'Sanvitalia',
       'Scarlet Sage', 'Sea Lavender', 'Sea Thrift', 'Shirley Poppy',
       'Shooting Star', 'Silvermound', 'Skunk Cabbage', 'Snapdragon',
       'Snow in Summer', 'Snowdrop', "Solomon's Seal", 'Sorghum',
       'Soybeans', 'Spinach', 'Strawberries',
       'Strawberries (and many Others)', 'Sugar beet', 'Sugar beets',
       'Sugarcane', 'Summer Savory', 'Sunflower', 'Sunflowers',
       'Sweet Alyssum', 'Sweet Corn', 'Sweet Potatoes', 'Sweet Woodruff',
       'Sweet potato', 'Sweet potatoes', 'Tansy', 'Tart cherries',
       'Thunbergia', 'Tithonia', 'Tomatoes', 'Torenia', 'Trillium',
       'Tulip', 'Verbena', 'Violet', 'Virginia Bluebell', 'Watermelon',
       'Wheat', 'Wild Senna', 'Windflower', 'Winter Wheat', 'Yarrow',
       'Yellow Archangel', 'Yellow Loosestrife', 'Zinnia'], dtype=object)

In [35]:
prediction=clf.predict(input_df)
results=pd.DataFrame({'Prediction': prediction, 'Actual': output_df})
results['Accurate']=results['Prediction']==results['Actual']
results[results['Accurate']!=True]

                  Prediction              Actual  Accurate
63            Butterfly Weed              Fennel     False
72                     Daisy       Globe Thistle     False
94                  Ageratum             Lobelia     False
111           Butterfly Weed             Petunia     False
100                Coreopsis           Mirabilis     False
11                  Ageratum      Balloon Flower     False
117                   Allium       Rock Soapwort     False
146         Canterbury Bells          Windflower     False
148           Sweet Woodruff    Yellow Archangel     False
8                    Anemone             Astilbe     False
37          Canterbury Bells              Chives     False
42                 Calendula           Columbine     False
44               Castor Bean          Coneflower     False
55          Canterbury Bells       Dame’s Rocket     False
68                Delphinium               Gaura     False
82          California Poppy              Hyssop     False
89                   Lantana            Lavender     False
97          California Poppy               Malva     False
98          California Poppy            Marigold     False
103         California Poppy          Nasturtium     False
104                  Boneset        Nierembergia     False
105               Clary Sage              Orchid     False
106          Blackeyed Susan        Osteospermum     False
112         California Poppy   Pincushion Flower     False
118           Crown Imperial                Rose     False
122                  Gazania        Sea Lavender     False
133                    Daisy           Sunflower     False
138                Gomphrena            Tithonia     False
141           Crown Imperial               Tulip     False
142         California Poppy             Verbena     False
149                 Bee Balm  Yellow Loosestrife     False
150          Blackeyed Susan              Zinnia     False
58                  Ageratum        Dusty Miller     False
48          Canterbury Bells              Crocus     False
79                Heliotrope           Hollyhock     False
80                 Corydalis               Hosta     False
81           Blackeyed Susan            Hyacinth     False
83                 Corydalis           Impatiens     False
86                      Iris      Jacob’s Ladder     False
90                 Artemisia     Lavender Cotton     False
96                     Aster         Maiden Pink     False
99   Entire Spring Snowflake               Mazus     False
120          Blackeyed Susan          Sanvitalia     False
143                    Aster              Violet     False
107                    Aster               Pansy     False
109           Butterfly Weed      Perennial Flax     False
126                  Boneset         Silvermound     False
157                     Corn  RI Greening Apples     False
185              Blueberries             Peaches     False
211                Sugarcane      Sweet potatoes     False
212                    Maize                Rice     False
218                     Corn            Soybeans     False

In [42]:
import pickle
pickle.dump(clf, open( "clf.sav", "wb"))

In [37]:
len(results[results['Accurate']!=True])

52

In [44]:
results_ary=clf.predict_proba(input_df.loc[11].values.reshape(-1, 87))

In [45]:
clf.predict_proba(input_df.loc[11].values.reshape(-1, 87))

array([[0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.25, 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.25, 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.25,
        0.  , 0.25, 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ]])

In [51]:
# sorted(list(zip(clf.classes_, results_ary[0])), key=lambda x: x[1], reverse=True)
recs_list=[rec for rec in list(zip(clf.classes_, results_ary[0])) if rec[1]!=0]
sorted(recs_list, key=lambda x: x[1], reverse=True)

[('Butterfly Weed', 0.25),
 ('Fennel', 0.25),
 ('Perennial Flax', 0.25),
 ('Petunia', 0.25)]

In [46]:
clf.classes_[results_ary[0]]

IndexError: arrays used as indices must be of integer (or boolean) type

In [174]:
input_df.head(1)

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,Georgia,...,Sun Needs_Full Sun / Partial Shade/Full Shade,Sun Needs_Partial Shade,Sun Needs_Partial Shade / Full Shade,Soil Needs_Damp,Soil Needs_Droughty,Soil Needs_Dry,Soil Needs_Flexible,Soil Needs_Well-drained,"Soil Needs_Well-drained, Damp","Soil Needs_Well-drained, High fertility"
0,1,1,1,1,1,1,1,1,1,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [33]:
input_df.to_csv('ml_input.csv')